<!doctype html>
<html lang="et">

<head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="ItemController as vm">

    Items: {{ vm.items }}<br>
    Filter: <br><br>
    <div data-ng-repeat="item in vm.items">
        {{ item }}
    </div>

    <script>

        'use strict';

        var app = angular.module('app', []);

        app.controller('ItemController', Ctrl);

        function Ctrl() {
            this.items = ["one", "two", "three"];
        }

    </script>
</body>
</html>
